<div class="project-mp4">
{{!-- 	<video autoplay="autoplay" loop="loop" width="100%" height="100%" class="b-lazy">
	  <source src="img/{{video}}"  type="video/mp4" />
	  <img src="img/{{img-backup}}" width="100%" height="100%" />
    </video> --}}

{{!--     <video class="b-lazy" autoplay="autoplay" loop="loop" width="100%" height="100%">
    	 <source data-src="img/{{video}}" type="video/mp4">
    </video> --}}

	<video playsinline muted class="b-lazy video " autoplay="autoplay" loop="loop" width="100%" height="100%" >
		<source data-src="img/{{video}}" type="video/mp4">
		<img src="img/{{img-backup}}" width="100%" height="100%" />
	</video>

</div>