<div class="project-nav">

  {{#categories}}

    <div>
    	<a data-target="{{slug}}" class="category-link"> >> {{name}}</a>
	    <div class="category {{slug}} ">

        {{#projects}}
          {{#if wip}}
  		      <div class ="hidden-xs-down" style="color: #d0d0d0"> - {{name}} </div>
          {{else}}
  		      <div class ="hidden-xs-down"><a href="{{slug}}.html"> - {{name}}</a></div>
          {{/if}}  
          
  		  {{/projects}}

	    </div>
    </div>

  {{/categories}}

</div>
