<div class="project-header">
    <h3>{{heading}}</h3>
    <em> &mdash; {{collaborators}}</em>
    <h6 class = "proj-descrip">{{description}}</h6>
    <p>
    	<a href ="http://{{link}}">{{link}}</a>
    </p>  
</div>
