<div class="project-header">
    <h1>{{date}}</h1>
    <h3>{{heading}}</h3>
    <h5 class = "proj-descrip">{{tags}}</h5>    
    <p>{{description}}</p> 
    <h4> {{collaborators}}</h4>
    {{#if link}}
        <h6>
    	    <a href ="http://{{link}}">{{link-text}}</a>
        </h6> 
    {{/if}}


</div>
